<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Booking</title>
</head>
<body>
{{if .First}}
Welcome to the application {{.Username}}<br>
<br>
<h2>{{.Username}}'s profile</h2> <br>
Your first name is {{.First}}<br>
Your last name is {{.Last}}<br>
<br>
<h3><a href="/booking">Book An Appointment</a></h3>
<h3><a href="/search">Search Available Appointments</a></h3>
<h3><a href="/editcustomerappts">Edit Appointment Details</a></h3>
<h3><a href="/editProfile">Edit Current Profile</a></h3>
<h3><a href="/logout">Log Out</a></h3>
{{else}}
<h2>You are currently either not logged in or need to sign up for an account</h2>
<h2><a href="/signup">Sign Up</a></h2>
<h2><a href="/login">Log in</a></h2>
{{end}}


</body>
</html>